# All files without extension
*
!*.*
!/**/

# macOS metadata
**/.DS_Store

# LCF output
output.txt
trace.txt

# Artifacts
*.d
*.o
*.a
.gdbinit
docs/

# Docs
!proj/docs/
!proj/docs/Doxyfile
proj/docs/html/